:root{
    --all-text: Lexend Deca;
    --all-h:Big Shoulders Display;
}

*{
    margin: 0;
}
.wrapper{
    font-family: var(--all-text);
    display: flex;
    width: 76%;
    margin: 120px auto 0;
}
.one,.two,.three{
    padding: 40px 38px;
}
.one{
    background-color:  hsl(31, 77%, 52%);
    border-top-left-radius:8px ;
    border-bottom-left-radius: 8px;
}
.two{
    background-color: hsl(184, 100%, 22%);
}
.three{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
h1{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: var(--all-h);
    font-size: 28px;
    font-weight: 700;
    padding: 20px 0;
}
p{
    width:77%;
    font-size: 13px;
    opacity: 0.9;
    line-height: 23px;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    padding-bottom: 70px;
}
a{
    text-decoration: none;

}
.one button a{
    color:hsl(31, 77%, 52%) ;
}
.two button a{
    color:hsl(184, 100%, 22%) ;
}
.three button a{
    color: hsl(179, 100%, 13%);
}
button{
    padding: 15px 25px;
    border-radius: 40px;
    border: 0;
}


@media ((min-width: 300px) and (max-width: 780px)){
.wrapper{
    display: block;
    width: fit-content;
    padding: 27px;
    margin: 0;
}

p{
    width: 100%;
    padding-bottom: 20px;
}
.one{
    border-radius: 8px 8px 0 0;
}
.three{
    border-radius: 0 0 8px 8px;
}
}